<!-- BEGIN_INCLUDE(documentum-connector:create-document) -->
    <documentum-connector:create-document filePath="/user/usa.gif" format="gif" folderPath="/repo/folder1/" transferMode="MTOM"/>
<!-- END_INCLUDE(documentum-connector:create-document) -->